h1 {
  font-size: 5rem;
  color: chartreuse;
  background-color: black;
  text-align: center;
  padding: 2rem 0;
}

h2 {
  text-transform: uppercase;
  background-color: darkolivegreen;
  color: wheat;
  padding: 1rem;
  width: 50%;
  text-align: center;
  margin: 0 auto;
  letter-spacing: 1.2px;
}